<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>NSDateFormatterDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>5334B01A1EB987BB00ABF7AE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5334B0331EB987BB00ABF7AE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5334B03E1EB987BB00ABF7AE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
